@font-face {
  font-family: 'Saysettha OT';
  src: url("fonts/PHETSARATHOT.eot");
  src: url("fonts/SAYSETTHAOT.woff") format("woff"), url('fonts/SAYSETTHAOT.eot') format('embedded-opentype'), url("fonts/SAYSETTHAOT.ttf") format("truetype"), url("fonts/PHETSARATHOT.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

html,
body,
div,
p,
table,
tr,
td {
  font-family: "Saysettha OT";
  margin: 0;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Saysettha OT";
}

table,
td,
table {
  white-space: normal;
}